@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 100% 97%; /* Light red background */
    --foreground: 20 14.3% 4.1%;

    --card: 0 100% 97%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 100% 97%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 0 85% 55%; /* Pure red accent */
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 0 30% 95%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 0 20% 90%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 0 40% 85%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 80% 50%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 0%; /* black borders */
    --input: 0 0% 0%; /* black inputs */
    --ring: 0 85% 55%; /* red rings */
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* black background */
    --foreground: 60 9.1% 97.8%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 0%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 0 85% 55%; /* Pure red */
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 0 30% 20%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 0 20% 25%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 0 40% 30%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 80% 50%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 85% 55%; /* Red rings */
  }
}





.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
